svg{
width: 20px;
font-size: 30px;
margin-left: 0%;
margin-right: 10px;
font-weight: bold;
color: #acacac;
}
svg:hover{
    color: #fff;
}

footer img{
    width: 70px;
    height: 50px;
    
}

footer p{
    color: #acacac;
    font-size: 12px;
    // font-weight: bold;
}

footer{
    background-color:#000;
}

footer a{
    color: #acacac;
    font-size: 10px;
}

footer a:hover{
    color: #fff;
}

footer h5{
    color: #a7a6a6;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 30px;
}
footer li{
    margin-bottom: 20px;

}
footer .row{
    min-height: 0px;
    padding: 0%;
}