* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
  /* overflow-y: hidden; */
}
a {
  text-decoration: none;
}

img {
  height: 100%;
}

p {
}

body p {
  /* font-size: 12px; */
  /* display: flex; */
  /* justify-content: center; */
  /* background-color: red; */
  /* min-width: 100%; */
}

.container {
  /* background-color: blue; */
  /* min-width: 80%; */
}
